[submodule "src/VideoGameHub.BuildingBlock"]
	path = src/VideoGameHub.BuildingBlock
	url = https://github.com/Walfhand/VideoGameHub.BuildingBlock
[submodule "src/Services/VideoGameHub.JanusWrapper.Api"]
	path = src/Services/VideoGameHub.JanusWrapper.Api
	url = https://github.com/Walfhand/VideoGameHub.JanusWrapper.Api
